%html
  %body
    %form method="POST"
      -from "macros/_form.html" import render_errors, render_error_list, render_hidden
      =render_error_list(form)

      %div
        =form.mail_address()
        =render_errors(form.mail_address)

      %div
        =form.password()
        =render_errors(form.password)

      %div
        =form.test_type()
        =render_errors(form.test_type)

      %div
        %input type="submit"

