{% macro render_errors(field) %}
{% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li class="error_one">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% macro render_error_list(form) %}
{% if form.errors %}
<div class="error">
{% for field in form %}
{% if field.errors %}
    {% for error in field.errors %}
    {{ error }}<br />
    {% endfor %}
{% endif %}
{% endfor %}
</div>
{% endif %}
{% endmacro %}


{% macro render_hidden(form) %}
{% for kv in form.get_pairs() %}
{% for val in kv[1] %}
<input type="hidden" name="{{ kv[0] }}" value="{{ val }}" />
{% endfor %}
{% endfor %}
{% endmacro %}

